body {
    /* margin: 0; */
    /* padding: 0; */
    background-color: hsl(0, 1%, 17%);
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 20px;
    padding: 40px;
}

.box {
     /* border: 2px solid ; 
    border-radius: 5px; */
    /* background-color: black; */
    text-align: center;
    transition: transform 0.9s;
}

.box:hover {
    transform: scale(1.11);
}



    
 



